<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parceiro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/grs_icon_nv"
        android:label="@string/app_name"
        android:roundIcon="@drawable/grs_icon_nv"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".View.PerfilCliente"></activity>
        <activity android:name=".View.SolicitacaoServico" />
        <activity android:name=".View.EditarSenha" />
        <activity android:name=".View.EditarDadosBancarios" />
        <activity android:name=".View.CadastroClienteFoto" />
        <activity android:name=".View.CadastroParceiro2" />
        <activity android:name=".View.ApresentacaoGrandson" />
        <activity android:name=".View.AvaliacaoCliente" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity
            android:name=".View.DetalharServicoAceito"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.HomeParceiro"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".View.LoginGrandson"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.CadastroParceiro"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.DadosBancarioCliente"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.DadosBancarioParceiro"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".View.CadastroColaborador"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".View.Cadastro" />
        <activity android:name=".View.Grandson">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>